@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Cookie", serif;
  --primary-color: #450707;
  --secondary-color: #0e1e31;
  --hover-color: #dbce14;
  --light-highlight-color: #fdfffc;
  --black-color: #020100;
  --soft-primary-color: rgba(163, 22, 33, 0.8);
  --transparent-red: rgba(163, 22, 33, 0.4);
  --soft-blue: rgba(65, 106, 142, 0.5);
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: var(--primary-font);
  background-image: url(../images/pexels-gdtography-277628-950241.jpg) c;
}

h1 {
  font-family: var(--secondary-font);
}

h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
p {
  font-family: var(--primary-font);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

a:hover {
  color: var(--third-color);
}

#welcome {
  height: 40rem;
  width: auto;
  background: url(../images/peakpx.jpg) no-repeat center center/cover;
  /* background-color: var(--secondary-color); */
  position: relative;
  filter: saturate(100%);
}

#footer {
  background-color: var(--primary-color);
  color: var(--light-highlight-color);
  font-size: 1.1rem;
}

.header-container {
  position: relative;
  width: 75%;
  color: var(--light-highlight-color);
}

.card-img-top {
  height: 20rem;
  width: auto;
}

.img-fluid {
  height: 18rem;
}

.section {
  padding-top: 1.5rem;
}

.cv {
  color: var(--secondary-color);
}

.cv:hover {
  color: var(--primary-color);
}
.centred-header-text {
  /* background-color: var(--soft-primary-color); */
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: var(--light-highlight-color);
  font-size: 2em;
  text-shadow: 1px 1px var(--black-color);
}

.navbar {
  background-color: var(--primary-color);
  color: var(--light-highlight-color);
}

.nav-link:hover {
  color: var(--hover-color);
}

.nav-link {
  font-weight: 550;
  color: var(--light-highlight-color);
}

/* Social media icons */
.social-icons {
  display: flex;
  gap: 0.7rem;
  padding: 0;
  margin: 0;
}

.social-icons li {
  list-style: none;
}

.social-icons a {
  color: white;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: var(--hover-color);
}
